<mat-card class="main-card">
  <mat-toolbar color="primary">Proforma Invoices</mat-toolbar>

  <div class="card-container">
    <mat-card class="invoice-card" *ngFor="let invoice of invoices">
      <mat-grid-list cols="8" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile colspan="1" rowspan="2">
          <div class="tile-content">T1</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
          <div class="tile-content">Invoice No: {{invoice.no}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <div class="tile-content">{{invoice.client}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="icon-tile">
          <span class="material-icons">visibility</span>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1" class="icon-tile">
          <span class="material-icons">note_add</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="icon-tile">
          <span class="material-icons">history</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="icon-tile">
          <span class="material-icons">delete</span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>

  <div class="bottom-toolbar">
    <button mat-button class="to-top-btn">To Top</button>
    <button mat-button class="add-new-btn">Add New</button>
  </div>

  <mat-toolbar color="primary" class="bottom-navigation">
    <span>Dash</span>
    <span>All</span>
    <span>Assigned</span>
    <span>Approved</span>
    <span>Rejected</span>
  </mat-toolbar>
</mat-card>
