<form [formGroup]="registerForm" action="submit()">
  <section class="login">
      <div class="container">
          <h1>Register Form</h1>
          <div class="lgn">
              <a href="#" id="login" class="hover_btn">Login</a>
              <a href="#" id="signup">SignUp</a>
          </div>
          <input type="text" formControlName="name" id="email" placeholder="Name">
          <input type="text" formControlName="phoneNumber" id="pass" placeholder="Phone Number">
          <input type="email" formControlName="email" id="email" placeholder="Email Adress">
          <input type="password" formControlName="password" id="pass" placeholder="Pasword">


          <!-- <div *ngIf="roles">
            <mat-form-field class="full-width">
              <mat-select #roleId (selectionChange)="findRoleName(roleId.value)" placeholder="Role" formControlName="roleName">
                <mat-option *ngFor="let item of  roles" [value]="item.id">
                  {{item.roleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </div> -->


          <!-- <input type="text" formControlName="role" id="role" placeholder="Role"> -->
          <div class="forget">
              <a href="#" id="fgpass">Forgot Password</a>
          </div>
          <a (click)="submit()" id="loginBtn" class="hover_btn">Register</a>
          <div class="sgnUp">
              <p id="member">Not A Member?</p>
              <a href="" id="sgn_now">SignUp Now</a>
          </div>
      </div>
    </section>
  </form>
