
 <!DOCTYPE html>
 <html lang="en">


 <mat-spinner *ngIf="submittingForm" class="spinner-overlay"></mat-spinner>

 <body>
     <main class="table" id="customers_table">
         <section class="table__header">
             <h1>ROLES</h1>
         </section>
         <section class="table__body">
             <table>
                 <thead>
                     <tr>
                         <th> ROLE </th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let role of roles">
                         <td> {{role.roleName}} </td>
                     </tr>
                 </tbody>
             </table>
         </section>
     </main>

 </body>

 </html>
