<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->

      <title>Responsive dropdown menu - Bedimcode</title>
   </head>
   <body>
      <!--=============== HEADER ===============-->
      <header class="header">
          <nav class="nav container">
            <div class="nav__data">
               <a href="/home" class="nav__logo">
                <img src="../../../../../../assets/img/455x111_wac_logo.png" routerLink="home">
               </a>

               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a href="/home/role" class="nav__link">Role
                    <span class="material-icons">admin_panel_settings</span>
                  </a></li>

                  <li><a href="/home/user" class="nav__link">User
                    <span class="material-icons">manage_accounts</span>
                  </a></li>

                  <!--=============== DROPDOWN 1 ===============-->
                  <!-- <li class="dropdown__item">
                     <div class="nav__link">
                        Analytics <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-pie-chart-line"></i> Overview
                           </a>
                        </li>

                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-arrow-up-down-line"></i> Transactions
                           </a>
                        </li>

                        <li class="dropdown__subitem">
                           <div class="dropdown__link">
                              <i class="ri-bar-chart-line"></i> Reports <i class="ri-add-line dropdown__add"></i>
                           </div>

                           <ul class="dropdown__submenu">
                              <li>
                                 <a href="#" class="dropdown__sublink">
                                    <i class="ri-file-list-line"></i> Documents
                                 </a>
                              </li>

                              <li>
                                 <a href="#" class="dropdown__sublink">
                                    <i class="ri-cash-line"></i> Payments
                                 </a>
                              </li>

                              <li>
                                 <a href="#" class="dropdown__sublink">
                                    <i class="ri-refund-2-line"></i> Refunds
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li> -->

                  <li><a href="#" class="nav__link">Team
                    <span class="material-icons">group_add</span>
                  </a></li>

                  <!--=============== DROPDOWN 2 ===============-->
                  <li class="dropdown__item">
                     <div class="nav__link">
                        Invoices
                        <span class="material-icons">receipt_long</span>
                         <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="#" class="dropdown__link">
                            <span class="material-icons">upload_file</span>Upload
                           </a>
                        </li>

                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-lock-line"></i> Accounts
                           </a>
                        </li>

                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-message-3-line"></i> Messages
                           </a>
                        </li>
                     </ul>
                  </li>

                  <!-- <li><a href="#" class="nav__link">Contact</a></li> -->
               </ul>
            </div>

            <div class="vector-parent">
              <!-- <h6 class="nav_main"> Hello {{userName}}</h6> -->

              <mat-icon class="vector-icon">account_box</mat-icon>
              <mat-icon class="vector-icon">notifications</mat-icon>
              <!-- <mat-icon class="vector-icon" routerLink="settings">settings</mat-icon> -->
              <mat-icon class="vector-icon" (click)="logout()">power_settings_new</mat-icon>
            </div>
         </nav>
      </header>

      <div class="content-section">
        <ul>
          <breadcrumb #parent>
            <ol class="breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs" let-last="last">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                  <a href="" [routerLink]="[route.url]">{{route.displayName| uppercase}}</a><span *ngIf="!last"> > </span>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active">{{route.displayName| uppercase}}</li>
              </ng-template>
            </ol>
          </breadcrumb>
        </ul>
        <router-outlet></router-outlet>
       </div>
   </body>

   <div class="bottom-bar">
    <!-- <img class="bottom-bar-child" alt="" src="../../../../../assets/img/line-1.svg" /> -->

    <div class="powered-by">Powered by : Carving Soft</div>
  </div>
</html>
