<mat-toolbar class="bg-blue-900">
  <p style="color:white">REGISTER SETTINGS </p>
  <button mat-mini-fab color="primary" type="button" style="margin-left: auto;"
    aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<section class="home_layout">
    <div id="section_bg" class="background">
      <mat-grid-list gutterSize="10px" cols="5" rowHeight="1:1">

        <mat-grid-tile>
          <button  class="btn btn-7" mat-fab aria-label="Example icon button with a bookmark icon" (click)="manageRole()">
            <span class="material-icons" style="font-size: 45px;">admin_panel_settings</span>
          </button>
          <div class="button_align">Role</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-fab class="btn btn-3" aria-label="Example icon button with a bookmark icon" (click)="manageUser()">
            <span class="material-icons" style="font-size: 45px;">badge</span>
          </button>
          <div class="button_align">User</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-fab class="btn btn-3" aria-label="Example icon button with a bookmark icon" (click)="manageAtt()">
            <span class="material-icons" style="font-size: 45px;">assignment</span>
          </button>
          <div class="button_align">Attendance</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-fab class="btn btn-3" aria-label="Example icon button with a bookmark icon" (click)="manageTeam()">
            <span class="material-icons" style="font-size: 45px;">badge</span>
          </button>
          <div class="button_align">Team</div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>
          <button mat-fab class="btn btn-3" aria-label="Example icon button with a bookmark icon" (click)="manageTeamMember()">
            <span class="material-icons" style="font-size: 45px;">badge</span>
          </button>
          <div class="button_align">Team Member</div>
        </mat-grid-tile> -->


      </mat-grid-list>
    </div>
    </section>

