<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">

    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title style="font-weight: 600;"> USER </mat-card-title>
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto"
            onClick="history.back()" style="margin-left: auto;">
            <span class="material-icons" style="color: white;">exit_to_app</span>
          </button>
        </mat-card-header>
      </div>
    </div><br>

    <mat-card-content >

      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="userForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" >
            <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('required')">
             Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-select placeholder="User Role" formControlName="roleId">
              <mat-form-field class="full-width">
                <div class="row">
                  <!-- <mat-icon>search</mat-icon> -->
                  <input matInput (input)="filterRole($event)" placeholder="Search">
                </div>
              </mat-form-field>
              <mat-option *ngFor="let item of roles" [value]="item.id">
                {{item.roleName}}
              </mat-option>
              <mat-option *ngIf="roles.length === 0" [value]="'add'">
                <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addRole()">playlist_add</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['roleId'].hasError('required')">
              Role <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="{{ showPassword ? 'text' : 'password' }}" class="input-field" formControlName="password" placeholder="Enter password">
            <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" style="transform: scale(0.5);">
              <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div style="margin-top: 20px;">
          <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
        </div>

      </div>
    </mat-card-content>
    <mat-spinner *ngIf="submittingForm" class="spinner-overlay"></mat-spinner>
    <mat-card-actions>
      <button *ngIf="!isEdit" mat-raised-button  type="submit" [disabled]="userForm.pristine || !userForm.valid ">
        <mat-icon style="font-size: 20px;">save</mat-icon>
      </button>&nbsp;&nbsp;
      <button *ngIf="isEdit" mat-raised-button  type="button" [disabled]="!userForm.valid" (click)="editFunction()">
        <mat-icon style="font-size: 25px;">edit_note</mat-icon>
      </button>&nbsp;&nbsp;

      <!-- <button mat-raised-button type="button" class="cancel-button" (click)="onCancelClick()">
        <mat-icon style="font-size: 25px;">cancel_presentation</mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>
</form>





