
<div class="custom-dialog">
  <h1 class="dialog-title">Change Status</h1>
  <div class="dialog-content">
    Are you sure you are changing the invoice {{invoiceNo}} to {{status}} status?
  </div>

  <div >
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput placeholder="" formControlName="remarks">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>
    </form>
  </div>
  <div class="dialog-actions">
    <button class="cancel-button" (click)="onCancelClick()">No</button>
    <button class="confirm-button" cdkFocusInitial (click)="onConfirmClick()">Yes</button>
  </div>
</div>

